<div class="modal-header">
    <h4 class="header" id="myUserLabel" jhiTranslate="recipientManagement.home.editLabel">
    </h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
</div>
<div class="modal-body">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <div *ngIf="recipientList">

            <div class="form-group" [hidden]="!recipientList.id">
                <label jhiTranslate="global.field.id">ID</label>
                <input type="text" class="form-control" name="id" formControlName="id" readonly>
            </div>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="recipientManagement.name">Name</label>
                <input type="text" class="form-control" name="name"
                       formControlName="name" jhiNoSpaces>

                <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('name')?.errors?.required"
                           jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('name')?.errors?.maxlength"
                           jhiTranslate="entity.validation.maxlength"
                           [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                    </small>
                    <small class="form-text text-danger"
                           *ngIf="!editForm.get('name')?.errors?.required && editForm.get('name')?.errors?.noWhitespace"
                           jhiTranslate="error.noWhiteSpace">
                        The value must not be all spaces.
                    </small>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div ngbAutofocus class="row justify-content-center">
                <div *ngIf="recipientList">
                    <button type="button" class="btn btn-outline-primary" (click)="cancel()">
                        &nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>

                    <button type="submit" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                       &nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

