<div>
    <h2 class="pb-2 header">
        <span id="user-management-page-heading" jhiTranslate="recipientManagement.home.title">Users</span>

        <button class="btn btn-primary float-right jh-create-entity" (click)="file.click()">
            <span jhiTranslate="recipientManagement.home.importLabel">Import</span>
        </button>
        <form [formGroup]="formUpload">
            <input class="d-none" formControlName="file" #file type="file" (change)="uploadRecipientList($event)" accept=".xlsx, .xls"/>
        </form>
    </h2>

    <div class="row text-center">
        <div class="col-12">
            <div class="alert alert-secondary" role="alert" *ngIf="recipientLists && recipientLists.length === 0">
                <span jhiTranslate="global.dataEmpty"> recipientLists are empty! </span>
            </div>
        </div>
    </div>
    <div class="table-responsive border-table" *ngIf="recipientLists">
        <table class="table table-striped mb-0" aria-describedby="user-management-page-heading">
            <thead class="thead-light">
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
                    <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col" jhiSortBy="name"><span jhiTranslate="recipientManagement.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col" jhiSortBy="createdDate"><span jhiTranslate="recipientManagement.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody *ngIf="recipientLists">
                <tr *ngFor="let recipientList of recipientLists; trackBy: trackIdentity">
                    <td><a [routerLink]="['./', recipientList.id, 'view']">{{ recipientList.id }}</a></td>
                    <td>{{ recipientList.name }}</td>
                    <td>{{ recipientList.createdDate | date:'dd/MM/yy HH:mm' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <a ngbTooltip="{{'entity.action.view' | translate}}" class="custom-icon-link" type="submit"
                                    [routerLink]="['./', recipientList.id, 'view']">
                                <i class="bi bi-eye"></i>
                            </a>
                            <button ngbTooltip="{{'entity.action.edit' | translate}}" class="btn custom-icon-btn" type="button" (click)="editRecipientList(recipientList)">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button ngbTooltip="{{'entity.action.delete' | translate}}" class="btn custom-icon-btn" type="button" (click)="deleteRecipientList(recipientList)">
                                <i  class="bi bi-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="recipientLists" class="pt-5 d-flex justify-content-end mr-0">
        <jhi-item-count class="mr-4 align-self-center" [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        <ngb-pagination size="sm" [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="3" [rotate]="true" [boundaryLinks]="true" (pageChange)="transition()"></ngb-pagination>
    </div>
</div>
