<div class="row justify-content-center" id="page-email-checking">
    <div class="col-sm-6">
        <div class="d-flex justify-content-center">
            <h2 id="myUserLabel" class="header pb-4 mr-1"  jhiTranslate="emailTrackingManagement.home.edit"></h2>
            <a class="custom-icon-info" type="submit">
                <i tooltipClass="custom-tooltip" [ngbTooltip]="tipContent" placement="right" class="bi bi-info-circle-fill"></i>
            </a>
            <ng-template #tipContent>
                <div class="d-flex text-left">
                    <div class="col-sm-5">
                        <label>{{'emailTrackingManagement.procurement' | translate | uppercase}}</label>
                    </div>
                    <div class="ml-1 col-sm-7">{{emailTracking.recipient!.procuringAgency}}</div>
                </div>
                <div class="d-flex tooltip-content text-left">
                    <div class="col-sm-5">
                        <label>{{'emailTrackingManagement.refnr' | translate | uppercase}}</label>
                    </div>
                    <div class="ml-1 col-sm-7">{{emailTracking.recipient!.referenceNumber}}</div>
                </div>
                <div class="d-flex tooltip-content text-left">
                    <div class="col-sm-5">
                        <label>{{'emailTrackingManagement.county' | translate | uppercase}}</label>
                    </div>
                    <div class="ml-1 col-sm-7">{{emailTracking.recipient!.county}}</div>
                </div>
                <div class="d-flex tooltip-content text-left">
                    <div class="col-sm-5">
                        <label>{{'emailTrackingManagement.authority' | translate | uppercase}}</label>
                    </div>
                    <div class="ml-1 col-sm-7">{{emailTracking.recipient!.title}}</div>
                </div>
            </ng-template>
        </div>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <div *ngIf="emailTracking">
                <jhi-alert-error></jhi-alert-error>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label class="form-control-label" jhiTranslate="emailTrackingManagement.status"></label>
                        <div>
                            <ng-select formControlName="status"
                                       [items]="statusList"
                                       bindLabel="content"
                                       [selectableGroup]="true"
                                       [closeOnSelect]="true"
                                       [selectableGroupAsModel]="false"
                                       placeholder="{{'emailTrackingManagement.statusPlaceholder' | translate}}"
                                       bindValue="value">
                                <ng-template ng-label-tmp let-item="item">
                                    <span> {{item.content | translate}} </span>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item" let-index="index">
                                    <span> {{item.content | translate}} - {{item.hoverTitle | translate}} </span>
                                </ng-template>
                            </ng-select>
                        </div>
                        <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('status')?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-control-label" jhiTranslate="emailTrackingManagement.selectTimeDate1"></label>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="{{'emailTrackingManagement.selectTimeDate1' | translate}}" formControlName="reminderDate1"
                                       [minDate]="minDate" name="from" ngbDatepicker #from="ngbDatepicker">
                                <div class="input-group-append">
                                    <button (click)="from.toggle()" class="btn btn-outline-secondary" type="button"><fa-icon [icon]="faCalendarAlt"></fa-icon></button>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="editForm.get('reminderDate1')!.invalid && (editForm.get('reminderDate1')!.dirty || editForm.get('reminderDate1')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('reminderDate1')?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                        <div *ngIf="editForm.get('reminderDate1')!.dirty || editForm.get('reminderDate1')!.touched">
                            <small class="form-text text-danger" *ngIf="!emailTracking.sentReminder1 && this.editForm.get('reminderDate1')?.value?.diff(this.editForm.get('reminderDate2')?.value, 'days') >= 0" jhiTranslate="cronjobManagement.reminderTime1Invalid">
                            </small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-control-label" jhiTranslate="emailTrackingManagement.selectTimeDate2"></label>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="{{'emailTrackingManagement.selectTimeDate2' | translate}}" formControlName="reminderDate2"
                                       [minDate]="minDate" name="from" ngbDatepicker #to="ngbDatepicker">
                                <div class="input-group-append">
                                    <button (click)="to.toggle()" class="btn btn-outline-secondary" type="button"><fa-icon [icon]="faCalendarAlt"></fa-icon></button>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="editForm.get('reminderDate2')!.invalid && (editForm.get('reminderDate2')!.dirty || editForm.get('reminderDate2')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('reminderDate2')?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                        <div>
                            <small class="form-text text-danger" *ngIf="!emailTracking.sentReminder2 && this.editForm.get('reminderDate1')?.value?.diff(this.editForm.get('reminderDate2')?.value, 'days') >= 0" jhiTranslate="cronjobManagement.reminderTime2Invalid">
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label class="form-control-label" jhiTranslate="userManagement.registrar">Email</label>
                        <div class="input-group">
                            <input type="email" class="form-control" name="email" formControlName="email">
                        </div>

                        <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('email')?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('email')?.errors?.maxlength"
                                   jhiTranslate="entity.validation.maxlength"
                                   [translateValues]="{ max: 100 }">
                                This field cannot be longer than 100 characters.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('email')?.errors?.minlength"
                                   jhiTranslate="entity.validation.minlength"
                                   [translateValues]="{ min: 5 }">
                                This field is required to be at least 5 characters.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('email')?.errors?.email"
                                   jhiTranslate="global.messages.validate.email.invalid">
                                Your email is invalid.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="emailTracking" class="mt-2">
                <button type="button" class="btn btn-outline-primary" (click)="previousState()">
                    <span jhiTranslate="entity.action.back">Cancel</span>
                </button>

                <button type="submit" [disabled]="editForm.invalid || (this.editForm.get('reminderDate1')?.value?.diff(this.editForm.get('reminderDate2')?.value, 'days') >= 0 && (!emailTracking.sentReminder1 || !emailTracking.sentReminder2))" class="btn btn-primary float-right">
                    <span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
