<div>
    <h2 class="pb-2 header">
        <span id="user-management-page-heading" jhiTranslate="emailTemplateManagement.home.title">emailTemplateManagement</span>

        <button class="btn btn-primary float-right jh-create-entity" [routerLink]="['./new']">
            <span jhiTranslate="emailTemplateManagement.home.create">Create</span>
        </button>
    </h2>

    <div class="row text-center">
        <div class="col-12">
            <div class="alert alert-secondary" role="alert" *ngIf="emailTemplates && emailTemplates.length === 0">
                <span jhiTranslate="global.dataEmpty"> recipientLists are empty! </span>
            </div>
        </div>
    </div>
    <div class="table-responsive border-table" *ngIf="emailTemplates">
        <table class="table table-striped mb-0" aria-describedby="user-management-page-heading">
            <thead class="thead-light">
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
                    <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col" jhiSortBy="name"><span jhiTranslate="emailTemplateManagement.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col" jhiSortBy="type"><span jhiTranslate="emailTemplateManagement.type">type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col" jhiSortBy="content"><span jhiTranslate="emailTemplateManagement.content">Content</span><fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody *ngIf="emailTemplates">
                <tr *ngFor="let emailTemplate of emailTemplates; trackBy: trackIdentity">
                    <td><a [routerLink]="['./', emailTemplate.id, 'view']">{{ emailTemplate.id }}</a></td>
                    <td>{{ emailTemplate.name }}</td>
                    <td>{{ emailTemplate.type }}</td>
                    <td>
                        <div class="d-flex">
                            <div class="wrap-content" [innerHTML]="emailTemplate.content">
                            </div>
                            <div>&nbsp;...</div>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <a ngbTooltip="{{'entity.action.view' | translate}}" class="custom-icon-link"  type="submit"
                                    [routerLink]="['./', emailTemplate.id, 'view']">
                                <i class="bi bi-eye"></i>
                            </a>
                            <a ngbTooltip="{{'entity.action.edit' | translate}}" class="custom-icon-link"
                                    [routerLink]="['./', emailTemplate.id, 'edit']">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <button ngbTooltip="{{'entity.action.delete' | translate}}" class="btn custom-icon-btn" type="button" (click)="deleteRecipientList(emailTemplate)">
                                <i  class="bi bi-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="emailTemplates" class="pt-5 d-flex justify-content-end mr-0">
        <jhi-item-count class="mr-4 align-self-center" [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        <ngb-pagination size="sm" [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="3" [rotate]="true" [boundaryLinks]="true" (pageChange)="transition()"></ngb-pagination>
    </div>
</div>
