<jhi-page-ribbon></jhi-page-ribbon>
<jhi-loading></jhi-loading>
<div>
    <router-outlet name="navbar"></router-outlet>
</div>

<div class="container-fluid">
    <div class="card jh-card">
        <router-outlet></router-outlet>
    </div>

</div>
