@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~@ng-select/ng-select/themes/default.theme.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import 'loading';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

body {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
}

/* Increase contrast of links to get 100% on Lighthouse Accessability Audit. Override this color if you want to change the link color, or use a Bootswatch theme */
a {
  color: #533f03;
  font-weight: bold;
}

a:hover {
  color: #533f03;
}

/* override hover color for dropdown-item forced by bootstrap to all a:not([href]):not([tabindex]) elements in _reboot.scss */
a:not([href]):not([tabindex]):hover.dropdown-item {
  color: $dropdown-link-hover-color;
}

/* override .dropdown-item.active background-color on hover */
.dropdown-item.active:hover {
  background-color: mix($dropdown-link-hover-bg, $dropdown-link-hover-color, 50%);
}

.dropdown-item.active,
.dropdown-item:active {
  color: $dropdown-link-hover-color;
  background-color: $dropdown-link-hover-bg;
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid green;
}

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
  dd {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .row.jh-entity-details > {
    dt {
      margin-bottom: 15px;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding-left: 180px;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.border-table {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

// Customize style of pagination
.pagination {
  margin-top: revert !important;
}

.wrap-content {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  max-width: 1000px;
  p {
    margin-block-end: 0 !important;
  }
}

/* jhipster-needle-scss-add-main JHipster will add new css style */
.ck-editor__editable_inline {
  min-height: 180px;
}

/* style for status */
.status {
  border: 1px solid transparent;
  padding: 6px 10px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 5px;
}

.status-green {
  color: $black;
  background-color: #6aa84f;
}

.status-green-border-orange {
  color: $black;
  background-color: #6aa84f;
  border: 4px solid #ed7d31;
}

.status-green-border-lila {
  color: $black;
  background-color: #6aa84f;
  border: 4px solid #9a57b4;
}

.status-orange {
  color: $black;
  background-color: #ed7d31;
}

.status-blue-bold {
  color: $black;
  background-color: #5b9bd5;
}

.status-red {
  color: $black;
  background-color: #ff0000;
}

.cronjob-status-red {
  color: rgba(255, 42, 42, 1);
  background-color: #ffd0d0;
}

.cronjob-status-green {
  color: rgba(0, 191, 108, 1);
  background-color: #d7ffed;
}

.cronjob-status-orange {
  color: rgba(215, 127, 0, 1);
  background-color: #ffe2b7;
}

.status-yellow {
  color: $black;
  background-color: #ffff00;
}

.status-blue {
  color: $black;
  background-color: #c5e8ff;
}

.status-gray {
  color: rgba(30, 49, 99, 1);
  background-color: #b6d1e5;
}

.status-purple {
  color: $white;
  background-color: #9022ff;
}

td {
  vertical-align: inherit !important;
}

.custom-icon-link {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding-top: 2px;
  margin-right: 18px;
  margin-left: 6px;
  text-align: center;
  color: black;
  i {
    vertical-align: sub;
    font-size: 14px;
  }
  &:hover {
    color: black;
    background-color: #e5e5e5;
  }
}

.custom-icon-info {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  padding-top: 4px;
  text-align: center;
  color: black;
  i {
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 18px;
  }
  &:hover {
    color: black;
    background-color: #e5e5e5;
  }
}

.custom-icon-info:hover {
  justify-content: center;
  align-items: center;
}

.custom-icon-btn {
  width: 32px;
  height: 32px;
  margin-right: 18px;
  margin-left: 18px;
  border-radius: 50% !important;
  padding: unset;
  i {
    font-size: 14px;
  }
  &:hover {
    background-color: #e5e5e5;
  }
}

.once-per-month {
  width: 260px;
}

// Customize modal
.modal-custom {
  overflow-y: hidden;
}

.modal-detail-custom {
  padding-top: 100px;
}

.header {
  font-weight: 400;
  font-size: 26px;
}

.cursor-email-status {
  cursor: pointer;
  &:after {
    display: none !important;
  }
}

th span {
  text-transform: uppercase !important;
}

label {
  text-transform: capitalize !important;
  font-size: 16px;
  font-weight: 500;
}

.label-unset-transform {
  text-transform: unset !important;
}

.change-item-per-page {
  min-height: 4.5rem;
}

.resend-button {
  color: rgba(255, 42, 42, 1) !important;
  font-size: 12px;
  font-weight: 400;
}

.table thead th {
  font-weight: 400;
  vertical-align: top;
}

.dropdown-menu {
  font-size: 15px;
}

#page-email-checking {
  .custom-tooltip {
    top: 71px !important;
    left: 8px !important;
    .arrow {
      top: calc(15% - 0.4rem) !important;
    }
    opacity: 1 !important;
  }
}

.custom-tooltip .tooltip-inner {
  min-width: 330px;
  border-radius: 3px;
  padding: 25px 13px;
  font-size: 13px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  line-height: 22px;
  color: black;
  top: 69px;
  label {
    font-size: 14px;
  }
  .tooltip-content {
    padding-top: 12px;
  }
}

.custom-tooltip .arrow:before {
  border-right-color: white;
}

.drop-item-action {
  padding: 0.5rem 1rem;
}

.content-dialog-detail {
  font-size: 13px;
}

.footer-dialog-detail {
  font-size: 14px;
}

.template-detail-title {
  font-weight: 500;
  font-size: 18px;
}

.label-custom {
  font-size: 15px;
  font-weight: 400;
}

.text-warning-custom {
  color: rgba(239, 154, 26, 1);
  font-size: 13px;
}

.min-height-200px {
  min-height: 200px;
}

.word-break {
  word-break: break-all;
}

//reduce size for screen less than 13 inch
@media screen and (max-width: 1278px) {
  body {
    font-size: 12px !important;
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: white;
  z-index: 2051 !important; // because .dropdown has default z-index: 2050 that can not be override
}

.modal {
  z-index: 2053 !important; // modal index need to be bigger than .sticky
}

.modal-backdrop {
  z-index: 2053 !important; // modal index need to be bigger than .sticky
}

.dropdown-menu {
  z-index: 2053 !important; // modal index need to be bigger than .sticky
}

.email-tracking-style {
  //.dropdown {
  //  z-index: 0 !important;
  //}
  .dropdown-menu {
    height: 20rem;
    overflow-y: scroll;
    position: absolute;
  }
}

.email-tracking-style {
  .dropdown {
    z-index: 0 !important;
  }
  .dropdown-menu {
    height: 20rem;
    overflow-y: scroll;
    position: absolute;
  }
}
